@font-face {
  font-family: 'calculator';
  src: url('../fonts/Calculator.ttf');
  font-weight: normal;
  font-style: normal;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/back.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0px;
}

.calculator {
  padding: 10px;
  background: black;
  width: 336px;
  position: relative;
  border-radius: 10px;
  padding-top: 20px;
          box-shadow: 0px 0px 20px #f6d1ff; 
}

.formulaScreen {
  min-height: 29px;
  font-size: 20px;
  color: #968e81;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  padding-right: 10px;
  box-shadow: 0px 0px 20px #f6d1ff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;   
  font-family: calculator;  
  font-style: italic;   
}

.outputScreen {
  font-size: 29px;
  color: white;
  text-align: right;
  line-height: 35px;
  margin-bottom: 15px;
  padding-right: 10px;
  box-shadow: 0px 0px 20px #f6d1ff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: calculator;
  font-style: italic;
}

button {
  position: relative;
  height: 65px;
  width: 80px;
  color: white;
  border: none;
  background: #480152;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20px;
  margin: 2px;
}

button:hover {
  color: black;
  background-color: #9d04c4;
  box-shadow: 1px 1px 10px #f6d1ff;
}

button:active {
box-shadow: 0px 0px 0px #f6d1ff, inset 0 0 10px 5px #2c2c2c;
}

.jumbo {
  width: 164px;
}

#equals {
  margin-left: 3px;
  margin-bottom: 7px;
}

@media screen and (max-height: 500px) {
  #root {
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}